# Approved Crop KMZ to CSV

<a target="_blank" href="https://colab.research.google.com/github/nasaharvest/street2sat/blob/main/notebooks/CropKMZtoCSV.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

**Author**: Ivan Zvonkov

**Last Modified**: Apr 4, 2025

**Description**: Converts approved KMZ to csv.

In [1]:
from bs4 import BeautifulSoup
from google.colab import drive
from pathlib import Path
from tqdm import tqdm

import json
import pandas as pd
import xml.etree.ElementTree as ET
import zipfile


drive.mount('/content/drive')

Mounted at /content/drive

## 1. Convert each KMZ into a CSV file

In [7]:
SRC_KMZ_FOLDER = "/content/drive/MyDrive/Street2Sat/KMZ/Checked"
!ls "{SRC_KMZ_FOLDER}"

Senegal_ADM1_1377_ADM2_1649_95_background_0_100.kmz
Senegal_ADM1_1377_ADM2_1649_95_background_1000_1100.kmz
Senegal_ADM1_2644_ADM2_25345_95_background_0_100.kmz
Senegal_ADM1_2644_ADM2_25345_95_background_100_135.kmz

In [8]:
SRC_KMZ_FILES = list(Path(SRC_KMZ_FOLDER).glob("*.kmz"))

In [25]:
from bs4 import BeautifulSoup
from google.colab import drive
from pathlib import Path
from tqdm import tqdm

import json
import pandas as pd
import xml.etree.ElementTree as ET
import zipfile


drive.mount('/content/drive')

def get_points_from_kmz(kmz_file_path):
    with zipfile.ZipFile(kmz_file_path, 'r') as kmz:
        kml_filename = [name for name in kmz.namelist() if name.endswith('.kml')][0]
        kml_data = kmz.read(kml_filename)

    # Convert KMZ file to KMZ points list
    namespace = {'kml': 'http://www.opengis.net/kml/2.2'}
    kmz_points = []

    root = ET.fromstring(kml_data)
    for placemark in root.findall('.//kml:Placemark', namespace):
        kmz_element = {}
        for child in placemark.iter():
            key = child.tag.replace('{http://www.opengis.net/kml/2.2}', '')
            kmz_element[key] = child.text

        kmz_points.append(kmz_element)

    return kmz_points

def kmz_points_to_dataframe(kmz_points):
    points = []

    for kmz_point in tqdm(kmz_points): # Added tqdm here to track progress and see which point is causing the error

        row = {}

        soup = BeautifulSoup(kmz_point["description"], 'html.parser')
        row["capture_info"] = soup.find_all('h2')[0].text
        row["capture_time"] = soup.find_all('p')[0].text.split(": ")[1]
        row["image_url"] = soup.find('a')['href']

        # Driving direction details
        direction_data = soup.find_all('h2')[2].next_siblings
        direction_data = [item for item in direction_data if item.name == 'p']

        row["driving_northing"] = float(direction_data[0].text.split(": ")[1])
        row["driving_easting"] = float(direction_data[1].text.split(": ")[1])
        row["is_right_hand_drive"] = direction_data[2].text.split(": ")[1] == 'True'

        # Location details
        location_data = soup.find_all('h2')[1].next_siblings
        location_data = [item for item in location_data if item.name == 'p']
        row["adm1"] = location_data[0].text.split(": ")[1]
        row["adm2"] = location_data[1].text.split(": ")[1]

        def lat_lon_parse(lat_lon_str_element):
            # Extract the part after the colon and split by comma
            lat_lon_str = lat_lon_str_element.text.split(": ")[1].strip()
            print(f"Parsing string: {lat_lon_str}")
            # Remove 'np.float64' and any leading/trailing whitespace, then replace parentheses and brackets
            lat_lon_values = lat_lon_str.replace('np.float64', '').strip().replace('(', '').replace(')', '').replace('[', '').replace(']', '').split(',')
            # Convert to floats and return as a list
            return [float(val.strip()) for val in lat_lon_values]

        road_lat_lon = lat_lon_parse(location_data[2])
        field_lat_lon = lat_lon_parse(location_data[3])

        crop_type = kmz_point["name"].strip().lower().replace("\u200b", "")
        crop_point = {
            "latitude": field_lat_lon[0],
            "longitude": field_lat_lon[1],
            "is_crop": 1,
            "is_maize": int(crop_type == "maize"),
            "crop_type": crop_type,

            **row,
        }

        non_crop_point = {
            "latitude": road_lat_lon[0],
            "longitude": road_lat_lon[1],
            "is_crop": 0,
            "is_maize": 0,
            "crop_type": "",
            **row,
        }

        points.append(crop_point)
        points.append(non_crop_point)

    df = pd.DataFrame(points)
    df["gcloud_folder"] = df["image_url"].str.extract(r'street2sat-uploaded/([^/]+/[^/]+)')
    return df

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [27]:
dfs = []
for kmz_file_path in tqdm(SRC_KMZ_FILES):
    kmz_points = get_points_from_kmz(kmz_file_path)
    df = kmz_points_to_dataframe(kmz_points)
    dfs.append(df)

  0%|          | 0/4 [00:00<?, ?it/s]
100%|██████████| 22/22 [00:00<00:00, 1039.02it/s]

Parsing string: 13.649130999999999, -14.2918199
Parsing string: (np.float64(13.64913875025419), np.float64(-14.291988787823726))
Parsing string: 13.6577868, -14.2905884
Parsing string: (np.float64(13.657815212732384), np.float64(-14.290760939473442))
Parsing string: 13.648949999972222, -14.2918149
Parsing string: (np.float64(13.648957919037585), np.float64(-14.291989327040818))
Parsing string: 13.636690399999999, -14.291642599972223
Parsing string: (np.float64(13.636659808990913), np.float64(-14.291471275550043))
Parsing string: 13.649503299972222, -14.291818199972223
Parsing string: (np.float64(13.649500412679453), np.float64(-14.291987709366104))
Parsing string: 13.634639199999999, -14.2914417
Parsing string: (np.float64(13.634670136461928), np.float64(-14.291292306807852))
Parsing string: 15.0493255, -16.724997499999997
Parsing string: (np.float64(15.049492549772546), np.float64(-16.72493433987417))
Parsing string: 13.6548893, -14.2917296
Parsing string: (np.float64(13.654833612900218), np.float64(-14.291509513202945))
Parsing string: 15.045873, -16.704281599999998
Parsing string: (np.float64(15.046033621429935), np.float64(-16.70426041235538))
Parsing string: 13.6340231, -14.291372499972223
Parsing string: (np.float64(13.634036962898518), np.float64(-14.291201744859817))
Parsing string: 15.045844199972223, -16.70510369997222
Parsing string: (np.float64(15.046027337642391), np.float64(-16.705097370141868))
Parsing string: 13.655789999972223, -14.291323
Parsing string: (np.float64(13.655736712286663), np.float64(-14.291136984412553))
Parsing string: 13.6351122, -14.291497599972223
Parsing string: (np.float64(13.635122214949137), np.float64(-14.29129095889023))
Parsing string: 13.648521399972221, -14.2917783
Parsing string: (np.float64(13.64850584098447), np.float64(-14.29199067504923))
Parsing string: 13.648234199972222, -14.291764699972223
Parsing string: (np.float64(13.648234594144654), np.float64(-14.291991483830799))
Parsing string: 13.657641899972223, -14.2906069
Parsing string: (np.float64(13.65763438169018), np.float64(-14.290761479982171))
Parsing string: 15.045902699972222, -16.7045019
Parsing string: (np.float64(15.046122596982775), np.float64(-16.70444712138132))
Parsing string: 13.634797299999999, -14.2914685
Parsing string: (np.float64(13.634850967858796), np.float64(-14.29129176764666))
Parsing string: 13.657985599972223, -14.290515799972223
Parsing string: (np.float64(13.658086194982488), np.float64(-14.290667670394205))
Parsing string: 13.648182499999999, -14.291761299972222
Parsing string: (np.float64(13.648144178530057), np.float64(-14.291991753420746))
Parsing string: 13.655090599972223, -14.291640199972223
Parsing string: (np.float64(13.655014444012549), np.float64(-14.291508973379255))
Parsing string: 13.649423699972221, -14.2918187
Parsing string: (np.float64(13.649409997074128), np.float64(-14.291987978983455))

100%|██████████| 19/19 [00:00<00:00, 1007.06it/s]

Parsing string: 13.650225, -14.291833199972222
Parsing string: (np.float64(13.650223737498171), np.float64(-14.291985552356895))
Parsing string: 13.657282999972223, -14.2906712
Parsing string: (np.float64(13.657363399381167), np.float64(-14.290854748752157))
Parsing string: 13.648207499972221, -14.2917632
Parsing string: (np.float64(13.648234594144654), np.float64(-14.291991483830799))
Parsing string: 13.633662299972222, -14.291244799972223
Parsing string: (np.float64(13.633494995925988), np.float64(-14.291388259905915))
Parsing string: 13.635517499999999, -14.2915782
Parsing string: (np.float64(13.635574557069754), np.float64(-14.291382060473714))
Parsing string: 13.648323899972223, -14.291770099999999
Parsing string: (np.float64(13.64832500975859), np.float64(-14.291991214238893))
Parsing string: 15.049197899972222, -16.724627799999997
Parsing string: (np.float64(15.049405005370172), np.float64(-16.724561629532655))
Parsing string: 13.6560959, -14.2912116
Parsing string: (np.float64(13.656007694783797), np.float64(-14.291043716693524))
Parsing string: 13.6350517, -14.2914966
Parsing string: (np.float64(13.635031799253019), np.float64(-14.291291228477656))
Parsing string: 13.635133599972221, -14.291498199972223
Parsing string: (np.float64(13.635122214949137), np.float64(-14.29129095889023))
Parsing string: 13.648769699999999, -14.291791599972223
Parsing string: (np.float64(13.648777087818326), np.float64(-14.29198986625005))
Parsing string: 13.6574991, -14.290615999972221
Parsing string: (np.float64(13.657543966168083), np.float64(-14.290761750233598))
Parsing string: 13.6573621, -14.290647099972222
Parsing string: (np.float64(13.657453814906406), np.float64(-14.290854478539865))
Parsing string: 13.6560816, -14.291130199972223
Parsing string: (np.float64(13.656098902610886), np.float64(-14.29132081919003))
Parsing string: 13.644527, -14.2916667
Parsing string: (np.float64(13.644525971355062), np.float64(-14.291447817166707))
Parsing string: 13.658122099972223, -14.290457099972222
Parsing string: (np.float64(13.658176610498792), np.float64(-14.290667400095783))
Parsing string: 13.634811499972221, -14.2914706
Parsing string: (np.float64(13.634850967858796), np.float64(-14.29129176764666))
Parsing string: 13.63631619997222, -14.291735899999999
Parsing string: (np.float64(13.63629840982866), np.float64(-14.291564803575259))
Parsing string: 13.634952099972221, -14.291489
Parsing string: (np.float64(13.634941383556235), np.float64(-14.291291498063151))

100%|██████████| 17/17 [00:00<00:00, 1055.19it/s]

Parsing string: 15.0455524, -16.787483699972224
Parsing string: (np.float64(15.045392917906558), np.float64(-16.787582262942134))
Parsing string: 14.9487337, -16.75219829997222
Parsing string: (np.float64(14.948878039507425), np.float64(-16.752014977355344))
Parsing string: 14.948915299972223, -16.7523686
Parsing string: (np.float64(14.949057353646362), np.float64(-16.752202346371952))
Parsing string: 14.948852699972223, -16.752306999972223
Parsing string: (np.float64(14.948966983480293), np.float64(-16.752201612863754))
Parsing string: 15.0377322, -16.788817
Parsing string: (np.float64(15.037793247619652), np.float64(-16.788634849170766))
Parsing string: 14.9488309, -16.7522868
Parsing string: (np.float64(14.9490566404837), np.float64(-16.752295297444856))
Parsing string: 14.948625099972222, -16.75209339997222
Parsing string: (np.float64(14.948788382366637), np.float64(-16.751921292963605))
Parsing string: 15.046270899972223, -16.787287899972224
Parsing string: (np.float64(15.046209887190818), np.float64(-16.7871240870742))
Parsing string: 15.044506099972223, -16.7877356
Parsing string: (np.float64(15.044489241182582), np.float64(-16.78757472954179))
Parsing string: 15.0436198, -16.787588499972223
Parsing string: (np.float64(15.043677396041994), np.float64(-16.787381969576394))
Parsing string: 14.9483729, -16.7518579
Parsing string: (np.float64(14.948518697750092), np.float64(-16.751733191124195))
Parsing string: 14.948357299972223, -16.7518448
Parsing string: (np.float64(14.948428327557004), np.float64(-16.751732457839985))
Parsing string: 15.0455524, -16.787483999972224
Parsing string: (np.float64(15.045393650000696), np.float64(-16.787489272032403))
Parsing string: 15.037347999972223, -16.7887865
Parsing string: (np.float64(15.037341409226151), np.float64(-16.788631082183425))
Parsing string: 14.9487874, -16.75224629997222
Parsing string: (np.float64(14.948877326429342), np.float64(-16.752107928360388))
Parsing string: 14.948577999972223, -16.75205139997222
Parsing string: (np.float64(14.948698012184803), np.float64(-16.751920559586853))
Parsing string: 15.043490999972223, -16.787552399972224
Parsing string: (np.float64(15.043496660656164), np.float64(-16.787380463204528))

100%|██████████| 9/9 [00:00<00:00, 834.58it/s]
100%|██████████| 4/4 [00:00<00:00, 33.09it/s]

Parsing string: 14.948819999972223, -16.7522759
Parsing string: (np.float64(14.948967696600667), np.float64(-16.75210866182477))
Parsing string: 14.9487944, -16.75225239997222
Parsing string: (np.float64(14.948877326429342), np.float64(-16.752107928360388))
Parsing string: 14.948603399972223, -16.7520735
Parsing string: (np.float64(14.948698012184803), np.float64(-16.751920559586853))
Parsing string: 15.037328999972223, -16.7887875
Parsing string: (np.float64(15.037341409226151), np.float64(-16.788631082183425))
Parsing string: 15.0375931, -16.7887981
Parsing string: (np.float64(15.037612512264516), np.float64(-16.788633342360644))
Parsing string: 15.0455521, -16.787483399972224
Parsing string: (np.float64(15.045392917906558), np.float64(-16.787582262942134))
Parsing string: 14.9487026, -16.7521686
Parsing string: (np.float64(14.948787669330846), np.float64(-16.752014243934752))
Parsing string: 14.9488652, -16.75231899997222
Parsing string: (np.float64(14.948966983480293), np.float64(-16.752201612863754))
Parsing string: 14.9489087, -16.752362399972224
Parsing string: (np.float64(14.949057353646362), np.float64(-16.752202346371952))

## 2. Merge CSV files into single file

In [28]:
df = pd.concat(dfs, ignore_index=True)

In [29]:
df.head()

,latitude,longitude,is_crop,is_maize,crop_type,capture_info,capture_time,image_url,driving_northing,driving_easting,is_right_hand_drive,adm1,adm2,gcloud_folder
0,13.649139,-14.291989,1,0,sorghum,2024-10-23-G0046689,2024-10-23 17:18:41,https://storage.cloud.google.com/street2sat-up...,3.594264,-0.086196,False,1377,1649,SENEGAL/2024-10-23
1,13.649131,-14.291820,0,0,,2024-10-23-G0046689,2024-10-23 17:18:41,https://storage.cloud.google.com/street2sat-up...,3.594264,-0.086196,False,1377,1649,SENEGAL/2024-10-23
2,13.657815,-14.290761,1,1,maize,2024-10-23-G0047004,2024-10-23 17:21:18,https://storage.cloud.google.com/street2sat-up...,8.112104,1.739239,False,1377,1649,SENEGAL/2024-10-23
3,13.657787,-14.290588,0,0,,2024-10-23-G0047004,2024-10-23 17:21:18,https://storage.cloud.google.com/street2sat-up...,8.112104,1.739239,False,1377,1649,SENEGAL/2024-10-23
4,13.648958,-14.291989,1,0,sorghum,2024-10-23-G0046683,2024-10-23 17:18:38,https://storage.cloud.google.com/street2sat-up...,6.015127,-0.525902,False,1377,1649,SENEGAL/2024-10-23

In [30]:
df[df["is_crop"] == 1]["gcloud_folder"].value_counts()

gcloud_folder
SENEGAL/2024-10-23    41
SENEGAL/2024-10-22    26
Name: count, dtype: int64

In [38]:
df_2024 = df[df["gcloud_folder"].str.contains("2024")]
df_2023 = df[df["gcloud_folder"].str.contains("2023")]

In [39]:
df_2024[["is_crop", "crop_type"]].value_counts()

is_crop  crop_type
0                     67
1        sorghum      25
         millet       21
         cassava      11
         maize        10
Name: count, dtype: int64

In [40]:
df_2023[["is_crop", "crop_type"]].value_counts()

Series([], Name: count, dtype: int64)

In [43]:
df_2024.to_csv(f"/content/drive/MyDrive/Street2Sat/KMZ/CSV/Senegal_2024_batch202401.csv", index=False)